extends layout

block content
  h1= title
  p Welcome to #{title}
  
  button#newTournament Add Tournament
  
  ul
    each item in tournamentlist
      li 
              a(href='tourney/'+item.slug) #{item.name}
  
  #popup
    form(action="/api/tournament" method="post")
        p 
          input(type="text", name="Tournament", placeholder="Tournament Name")
        p 
          textarea(name="players", rows=5, placeholder="Macho Man, Hulk Hogan")
        p
          input(type="submit", value="submit")
        
block scripts 
  script(src="//code.jquery.com/jquery-1.10.2.min.js")
  script(src="/js/bootstrap.js")
  script(src="main.js")
