extends layout

block content
    #container
        h1= Tournament
        p Welcome to the #{Tournament}
        #wrapper1
            #next-game
                h2 Dexter vs The World
            #recent
                h3 Drew beats everyone
            #upcoming
                h3 Macho Man's revenge
        #wrapper2
            #standings
                h3 Standings