extends layout

block content
  h1= Tournament
  p Welcome to the #{Tournament}

    #next-game
        h2 Dexter vs The World
    #recent
        h3 Drew beats everyone
    #upcoming
        h3 Macho Man's revenge
    #standings
        h3 Standings