body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#popup {
    display:none;
}

#next-game{
    background-color: #f0ad4e;
}
#recent{
    background-color: #e14f4f;
}
#upcoming{
    background-color: #4cae4c;
}
#standings{
    background-color: #39b3d7;
}